 <div class="header-grid">
                <div id="brand">
                    <h1>OmniVus.</h1>
                    <p>IT Service & Technology</p>
                </div>
                <nav id="top-menu">
                    <a href="mailto:info@domain.com">info@domain.com</a>
                    <div class="socials">
                        <a href="https://facebook.com">facebook</a>
                        <a href="https://twitter.com">twitter</a>
                        <a href="https://linkedin.com">linkedin</a>
                        <a href="https://youtube.com">youtube</a>
                    </div>
                </nav>
                <nav id="main-menu">
                    <div class="menu-items">
                         <a asp-controller="Home" asp-action="Index">Home</a>
                         <a asp-controller="Services" asp-action="Index">Services</a>
                         <a asp-controller="Contacts" asp-action="Index">Contact</a>
                    </div>
                  <a asp-controller="Contacts" asp-action="BookMeeting" class="btn btn-main">Book a Meeting</a>
                </nav>
            </div>